/* default theme to fuck up bootstraps booty */

.navbar-custom .navbar-brand {
    font-weight: 500;
}

.navbar-custom .nav li a {
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

#intro_text {
    background-color: rgba(255, 37, 97, 0.90);
    display: inline;
    padding: 0.2rem 1.7rem;
}

#intro_subtext {
    float:right;
    background-color: rgba(47, 130, 255, 0.9);
    display: inline;
    padding: 1rem 1.7rem;
    margin-top: 0.9rem;
}

#library_file_list .list {
    font-family:'Open Sans';
    margin:0;
    padding:20px 0 0;
}
#library_file_list .list li {
    display:block;
    background-color: #fefefe;
    padding:1rem;
    box-shadow: inset 0 1px 0 #fff;
}

#library_file_list input {
    border:solid 1px #ccc;
    border-radius: 0.5rem;
    padding:0.6rem 1.3rem;
    margin-bottom:0.7rem;
    font-family: 'Open Sans';
}
#library_file_list input:focus {
    outline:none;
    border-color:#aaa;
}