$def with (params)
<div class="row">
	<div class="col-sm-12">
		<h2>Administration</h2>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<form name="customization" method="POST" action="/admin">
			<div class="form-group">
				<label for="set_title">Title:</label>
				<input type="text" class="form-control" id="set_title" name="set_title">
			</div>
			<div class="form-group">
				<label for="set_intro_text">Intro Text:</label>
				<input type="text" class="form-control" id="set_intro_text" name="set_intro_text">
			</div>
			<div class="form-group">
	  			<label for="set_theme">Select list:</label>
	  			<select class="form-control" id="set_theme" name="set_theme">
					<option>default</option>
				</select>
			</div>
			<button type="submit">Submit</button>
		</form>
	</div>
</div>

<script>var data = $:params;</script>

<script>
	jQuery("#set_title").val(data.customization.title);
	jQuery("#set_intro_text").val(data.customization.intro_text);
	jQuery("#set_theme").val(data.customization.theme);

	console.info(data);
	console.log(data.customization.intro_text);
</script>