$def with (params)
<div class="row">
	<div class="col-sm-12">
		<h2>Administration</h2>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<form name="customization" method="POST" action="/admin">
			<div class="form-group">
				<label for="title">Title:</label>
				<input type="text" class="form-control" id="title" name="title">
				<label for="intro_text">Intro Text:</label>
				<input type="text" class="form-control" id="intro_text" name="intro_text">
			</div>
			<div class="form-group">
				
			</div>
			<div class="form-group">
	  			<label for="theme">Select list:</label>
	  			<select class="form-control" id="theme" name="theme">
					<option>default</option>
				</select>
			</div>
			<button type="submit">Submit</button>
		</form>
	</div>
</div>

<script>var data = $:params;</script>

<script>
	jQuery("#title").val(data.customization.title);
	jQuery("#intro_text").val(data.customization.intro_text);
	jQuery("#theme").val(data.customization.theme);

	console.info(data);
</script>