$def with (params)
<div class="row">
	<div class="col-sm-12">
		<h2>Administration</h2>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="form-group">
			<label for="title">Title:</label>
			<input type="text" class="form-control" id="title">
		</div>
		<div class="form-group">
			<label for="intro_text">Intro Text:</label>
			<input type="text" class="form-control" id="intro_text">
		</div>
		<div class="form-group">
  			<label for="theme">Select list:</label>
  			<select class="form-control" id="theme">
				<option>default</option>
			</select>
		</div>
	</div>
</div>

<script>var data = $:params;</script>

<script>
	var intro_text = data.customization.intro_text
	$("#intro_text").val(intro_text);
	console.info(data);
</script>